/*@font-face {
    font-family: 'ptsans';
    src: url('../fonts/ptsans.eot');
    src: url('../fonts/ptsans.eot') format('embedded-opentype'),
         url('../fonts/ptsans.woff2') format('woff2'),
         url('../fonts/ptsans.woff') format('woff'),
         url('../fonts/ptsans.ttf') format('truetype'),
         url('../fonts/ptsans.svg#ptsans') format('svg');
}
*/