.menu {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	a {
		display: inline-block;
		text-decoration: none;
	}

	&--horizontal {
		& > .menu__list {

			& > .menu__item {
				display: inline-block;
			}
		}
	}

	&--dropdown {
		.menu__item--parent {
			position: relative;

			& > ul {
				display: none;
				position: absolute;
			}

			&:hover > ul {
				display: block;
				z-index: 2;
			}
		}
	}
}
